<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <sessionState timeout="540"/>
    <customErrors mode="Off"/>
    <!--<compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
      </assemblies>
    </compilation>!-->
    <httpRuntime targetFramework="4.5.2"/>
    <compilation debug="true"/>
  </system.web>
  <connectionStrings>
    <add name="MySqlConnectionString" connectionString="server=dcm.uhcl.edu;port = 3306; UserId=c563316su01g2;password=2702365;database=c563316su01g2" providerName="MySql.Data.MySqlClient"/>
    <!--<add name="c563316su01g2ConnectionString" connectionString="server=dcm.uhcl.edu;port = 3306; user id=c563316su01g2; password=2702365; persistsecurityinfo=True; database=c563316su01g2"
      providerName="MySql.Data.MySqlClient" />!-->
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
</configuration>